@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Kosugi+Maru&display=swap');

html,
body {
    margin: 0px;
    height: 100%;
    background-color: #EEEEEE;
}

html ::-webkit-scrollbar {
    display: none;
}

.swiper {
    height: 100%;
}

.swiper-wrapper {
    display: inline-block;
    width: 1280px;
    height: 800px;
}

.swiper-slide {
    width: 1280px;
    height: 800px;
}

.swiper-pagination {
    top: initial;
    left: 50%;
    transform: translate(-50%, 0px);
}

.swiper-pagination-bullet-active {
    background: #555555 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #555555;
}

.swiper-button-prev {
    top: 50%;
    left: 0;
    transform: translate(0px, -50%);
}

.swiper-button-next {
    top: 50%;
    left: initial;
    transform: translate(0px, -50%);
}

.fa-rotate {
    position: absolute;
    font-size: 50px;
    top: 63px;
    left: 1168px;
    z-index: 1001;
    transition: 10s;
}

.fa-rotate:hover {
    animation: rotate 1s linear;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

#data-update {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 50px;
    left: 1155px;
    background: #CCCCCC;
    z-index: 1000;
    border-radius: 10px;
}

.clock-container {
    position: relative;
    top: 50px;
    width: 600px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#date_id {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    font-family: 'Graduate', cursive;
}

#time_id {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 130px;
    font-family: 'Graduate', cursive;
}

#date_id2 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    font-family: 'Graduate', cursive;
}

#time_id2 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 130px;
    font-family: 'Graduate', cursive;
}

.today-weather-container {
    display: flex;
    flex-flow: column;
    width: 35%;
    position: absolute;
    top: 350px;
    left: 10%;

    box-shadow: 4px 4px 16px #999999;
    font-family: 'Kosugi Maru', sans-serif;
}

.tomorrow-weather-container {
    display: flex;
    flex-flow: column;
    width: 35%;
    position: absolute;
    top: 350px;
    left: 55%;
    border-radius: 10px;
    box-shadow: 4px 4px 16px #999999;
    font-family: 'Kosugi Maru', sans-serif;
}

.date {
    font-size: 25px;
    margin-left: 5%;
}

.logo-temp-container {
    display: flex;
    justify-content: space-between;
}

.weather-logo {
    width: 250px;
    height: 150px;
    margin-left: 5%;
}

.temp-container {
    flex-flow: column;
    margin-right: 10%;
}

.temp-container p {
    font-size: 25px;
}

.high-temp {
    color: #FF0000;
}

.low-temp {
    color: #0096FF;
}

.weather-container {
    margin-left: 5%;
    width: 250px;
}

.weather {
    text-align: center;
    font-size: 20px;
}

.rainy-percent,
th,
td {
    font-size: 18px;
    width: 90%;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: 5%;
    margin-bottom: 20px;
}

.soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}